// CryMP Client resources

#include <winver.h>

#include "Launcher/Resources.h"
#include "config.h"

LAUNCHER_ICON ICON "Icon.ico"

LAUNCHER_CURSOR_AMBER CURSOR "CursorAmber.cur"
LAUNCHER_CURSOR_BLUE  CURSOR "CursorBlue.cur"
LAUNCHER_CURSOR_GREEN CURSOR "CursorGreen.cur"
LAUNCHER_CURSOR_RED   CURSOR "CursorRed.cur"
LAUNCHER_CURSOR_WHITE CURSOR "CursorWhite.cur"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     CRYMP_CLIENT_VERSION_MAJOR, CRYMP_CLIENT_VERSION_MINOR, CRYMP_CLIENT_VERSION_PATCH, 0
PRODUCTVERSION  CRYMP_CLIENT_VERSION_MAJOR, CRYMP_CLIENT_VERSION_MINOR, CRYMP_CLIENT_VERSION_PATCH, 0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "LegalCopyright",   "(C) 2020 CryMP Network"
			VALUE "CompanyName",      "CryMP Network"
			VALUE "ProductName",      "CryMP Client"
			VALUE "ProductVersion",   CRYMP_CLIENT_VERSION_STRING
			VALUE "FileVersion",      CRYMP_CLIENT_VERSION_STRING
			VALUE "FileDescription",  CRYMP_CLIENT_EXE_DESCRIPTION
			VALUE "InternalName",     CRYMP_CLIENT_EXE_NAME
			VALUE "OriginalFilename", CRYMP_CLIENT_EXE_NAME ".exe"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
