################################################################################
# Reusable build workflow
################################################################################

name: Build

on:
  workflow_call:
    inputs:
      bits:
        description: Either 32 or 64
        required: true
        type: string
      type:
        description: CMake build type
        required: true
        type: string
      sign:
        description: Code signing
        required: false
        default: false
        type: boolean
    secrets:
      sign_cert:
        description: Base64-encoded PFX file
        required: false
      sign_pass:
        description: Password for the PFX file
        required: false
    outputs:
      artifact_name:
        description: Name of the resulting artifact
        value: ${{ jobs.windows_msvc.outputs.artifact_name }}

jobs:
  windows_msvc:
    runs-on: windows-latest
    env:
      BUILD_DIR: ${{ github.workspace }}\Build${{ inputs.bits }}
    outputs:
      artifact_name: ${{ steps.build.outputs.artifact_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # version generator requires git tags to be fetched
      - name: Get tags
        run: git fetch --tags

      - name: Get Ninja
        run: |
          $release = Invoke-RestMethod 'https://api.github.com/repos/ninja-build/ninja/releases/latest'
          $release
          $asset = $release.assets | where { $_.name -eq 'ninja-win.zip' }
          $ninja_dir = Join-Path $env:BUILD_DIR 'ninja'
          $ninja_zip = Join-Path $env:BUILD_DIR 'ninja.zip'
          New-Item $ninja_dir -ItemType Directory | Out-Null
          Invoke-WebRequest $asset.browser_download_url -OutFile $ninja_zip
          Expand-Archive $ninja_zip -DestinationPath $ninja_dir
          'NINJA_DIR=' + $ninja_dir >> $env:GITHUB_ENV

      - name: Build
        id: build
        run: |
          $vs_path = & 'C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe' `
            -latest -property installationPath
          Import-Module (Join-Path $vs_path 'Common7\Tools\Microsoft.VisualStudio.DevShell.dll')
          $arch = if (${{ inputs.bits }} -eq 32) { 'x86' } else { 'amd64' }
          Enter-VsDevShell -VsInstallPath $vs_path -SkipAutomaticLocation -Arch $arch
          $env:PATH = $env:NINJA_DIR + ';' + $env:PATH
          cmake -S . -B $env:BUILD_DIR -G Ninja -D CMAKE_BUILD_TYPE=${{ inputs.type }}
          cmake --build $env:BUILD_DIR
          $exe_path = Join-Path $env:BUILD_DIR 'CryMP-Client${{ inputs.bits }}.exe'
          $exe_hash = (Get-FileHash $exe_path -Algorithm SHA256).Hash.ToLower()
          'artifact_name=CryMP-Client${{ inputs.bits }}-' + $exe_hash >> $env:GITHUB_OUTPUT

      - name: Sign
        if: inputs.sign
        run: |
          Set-Content -Path bundle.txt -Value '${{ secrets.sign_cert }}'
          certutil -decode bundle.txt bundle.pfx
          & 'C:\Program Files (x86)\Microsoft SDKs\ClickOnce\SignTool\signtool.exe' `
            sign /fd SHA256 /f bundle.pfx /p '${{ secrets.sign_pass }}' `
            /tr 'http://timestamp.digicert.com' /td SHA256 `
            (Get-Item (Join-Path $env:BUILD_DIR '*.exe').FullName
          Remove-Item bundle.*

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.build.outputs.artifact_name }}
          path: |
            ${{ env.BUILD_DIR }}\*.exe
            ${{ env.BUILD_DIR }}\*.pdb
