################################################################################
# Release workflow running on new tags
################################################################################

name: Release

on:
  push:
    tags:
      - v*

jobs:
  build_32:
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      bits: 32
      type: Release
      sign: true

  build_64:
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      bits: 64
      type: Release
      sign: true

  release:
    runs-on: ubuntu-latest
    needs:
      - build_32
      - build_64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get changelog
        run: |
          changelog_file="${{ github.workspace }}/CHANGELOG.md"
          echo "CHANGELOG<<EOF" >> $GITHUB_ENV
          sed -n "/^## \[${{ github.ref_name }}\] /,/^## /p" "$changelog_file" | sed '1d;$d' >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Download 32-bit build artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ needs.build_32.outputs.artifact_name }}

      - name: Download 64-bit build artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ needs.build_64.outputs.artifact_name }}

      - name: Make it executable
        run: chmod 755 CryMP-Client32.exe CryMP-Client64.exe

      - name: Create ZIP file
        run: zip crymp-client-${{ github.ref_name }}-build.zip CryMP-Client32.exe CryMP-Client64.exe

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref_name }}
          body: ${{ env.CHANGELOG }}
          draft: false
          prerelease: false

      - name: Add the ZIP file to the release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: crymp-client-${{ github.ref_name }}-build.zip
          asset_name: crymp-client-${{ github.ref_name }}-build.zip
          asset_content_type: application/zip

  upload:
    needs:
      - build_32
      - build_64
      - release
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      context: release
      artifact_32: ${{ needs.build_32.outputs.artifact_name }}
      artifact_64: ${{ needs.build_64.outputs.artifact_name }}
